@import 'typeplate'
body
    font-family "Helvetica Neue", sans-serif

header
    h1
        a
            color rgb(0,223,252)
            text-decoration none

a
    color rgb(0,180,204)
    text-decoration none

a:hover
    color rgb(0,95,107)
    text-decoration underline

a:visited
    color rgb(0,180,204)

#layout
    padding-left: 25%
    position: relative

#sections, #externals
    float left

.content, .footer
    padding 2em 3em 0

.avatar
    float right

.avatar img
    border-radius 50px

.sidebar 
    position fixed
    top 0
    bottom 0
    width 25%
    margin-left -25%
    background rgb(52,56,56)
    color #fff

.title
    clear both
    margin 0
    padding 0
    a
        smallcaps(rgb(0,140,158), bold)
        text-decoration none

    a:hover
        text-decoration underline
       

.date
    @extends .gamma
    smallcaps(rgba(52,56,56, 0.75), bold)

@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)
    .content
        padding 2em 1em 0

    .sidebar
            width 100%
            position relative
            margin 0
    header
        text-align center
        top auto
        margin 3em auto
        position static

    header img
        width 75%
        height 75%
    #layout
        padding 0
