!!!
head
    != partial("_shared/head")
body
    div#layout.pure-g-r
        != partial("_shared/left-rail")
        section#content.pure-u-1.content
            != yield
            != partial("_shared/footer")

    != partial("_shared/ga")
