!!!
head
    != partial("_shared/head")
    title Lambdaphant | Index
body
    div#layout.pure-g-r
        != partial("_shared/left-rail")
        section#content.pure-u-1.content
            != yield
            script(data-gittip-username="mmatuzak", data-gittip-widget="button", src="//gttp.co/v1.js")
            != partial("_shared/footer")

    != partial("_shared/ga")
