#leftrail.pure-u.sidebar
    header.pure-u-1
        h1.beta
            a(href="/") Lambdaphant
        nav#sections
            ul
                li.section.root
                    a(href="/") Home
        nav#externals
            ul
                li.github
                    a(href="http://github.com/emkay") Github
                li.flickr
                    a(href="http://www.flickr.com/photos/matuzak/") Flickr
                li.twitter
                    a(href="http://twitter.com/mmatuzak") Twitter
        a(href="/")
            img(alt="The Mighty Lambdaphant", src="/images/lambdaphant.svg")

