!!!
head
    != partial("../_shared/head")
body
    div#layout.pure-g-r
        != partial("../_shared/left-rail")
        section#content.pure-u-1.content
            h2.title= title
            .date= date
            != yield
            != partial("../_shared/footer")
